.cell {
  background: rgba(97, 97, 97, 0.4);
  border: 1px solid rgba(97, 97, 97, 1);
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  width: 1.5em;
}

.wall {
  background-color: rgba(121, 85, 72, 1);
  border: 1px solid rgba(93, 64, 55, 0.6);
  color: rgba(189, 195, 199, 0.05);
}

.room,
.bridge {
  color: rgba(55, 71, 79, 0.05);
}

.player {
  color: rgba(255, 238, 88, 1);
}

.enemy {
  color: rgba(255, 205, 210, 1);
}

.boss,
.room,
.bridge,
.player,
.enemy,
.health,
.strength,
.weapon {
  background: rgba(189, 195, 199, 1);
  border: 1px solid rgba(97, 97, 97, 0.55);
}

.next_level {
  background: rgba(97, 97, 97, 0.55);
  border: 1px solid rgba(97, 97, 97, 0.55);
}

.invisible {
  background-color: transparent;
  border: transparent;
  color: transparent;
}

.visited.wall {
  background: transparent;
  border: none;
  color: transparent;
}

.visited.boss,
.visited.room,
.visited.bridge,
.visited.enemy,
.visited.strength,
.visited.weapon,
.visited.next_level,
.visited.health {
  background: rgba(189, 195, 199, 0.03);
  border: 1px solid rgba(97, 97, 97, 0.03);
  color: rgba(255, 205, 210, 0.1);
}

.visited.bridge,
.visited.room {
  color: transparent;
}
